{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Log In</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
                <a href="{% url 'signup' %}">New to My Site? Sign up</a>
                {% if form.errors %}
                    <p style="color: red">Your username and password didn't match. Please try again.</p>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock content %}
