{% extends "base.html" %}

{% block title %}List{% endblock %}

{% block content %}

    <main>
        <div>
            <h1>My Projects</h1>
            <div>
                <p><a href="{% url "create_project" %}">Create a new project</a></p>
            </div>
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td><a href="{% url "show_project" project.pk %}">{{project.name}}</a></td>
                                <td>{{project.tasks.all|length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>

{% endblock content %}


{% comment %} The project list view should now contain an a tag
to the project detail page for the indicated project title in
the table's first column. The second column should now show the
total number of tasks for a project. {% endcomment %}
